.border {
  border: 1px solid black;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-space {
  justify-content: space-around;
}

.flex-fit {
  flex-wrap: wrap;
}

.m-10 {
  margin: 10px;
}

.pointer {
  cursor: pointer;
}

.heartEmojiFloat {
  position: relative;
  animation: animate 2s linear infinite;
}

@keyframes animate {
  from {
    top: 10%;
    opacity: 1;
    transform: scale(1);
  }
  to {
    top: -10%;
    opacity: 0;
    transform: scale(14.5);
  }
}
