body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flex {
  display: flex;
}

.centerHorizontal {
  justify-content: center;
}

.spaceBetween {
  justify-content: space-between;
}

.centerVertical {
  align-items: center;
}

.border {
  border: 1px solid black;
}

.size100 {
  width: 10px;
}
